<div class="flex gap-12 ml-3 items-center w1/4 text-3xl text-gray-400">

    <!-- GET -->
    <div class="flex flex-col justify-center items-center">
        <div class="text-red-500">{{currency}} {{get}}</div>
        <div class="text-xs">You should reveice</div>
    </div>

    <div class="bg-gray-300 w-px h-10"></div>

    <!-- GIVE -->
    <div class="flex flex-col justify-center items-center">
        <div class="text-green-500">{{currency}} {{give}}</div>
        <div class="text-xs ">You should settle</div>
    </div>
</div>