<div class="mx-5 h-screen overflow-hidden">

  <!-- ------------------------------- HEADER -------------------------------- -->
  <div class=" w-full bg-white grid gap-2 grid-cols-3 items-center justify-between  text-xl border-b border-gray-200">
    <!-- LOGO -->
    <div routerLink="/" class="cursor-pointer flex items-center col-span-1 bg-white w-full text-gray-500">
      <img class="h-20" src="assets/cash_flow_icon_white_bg.png" alt="logo">
      <h2 class="font-semibold ">Cash Book</h2>
    </div>

    <div class="flex justify-center">
      <app-overview [give]="toGive" [get]="toGet"></app-overview>
    </div>

    <div class="flex justify-end items-center gap-5">
      <h3>Welcome, {{getUserName}} !</h3>
      <div class="h-8 w-8 p-1 bg-gray-100 rounded-full flex justify-center items-center">
        <img class="h-5 " src="assets/svg/user.svg" alt="profile">
      </div>
    </div>
  </div>

  <!-- -------------------------------- MODAL -------------------------------- -->
  <div *ngIf="showModal" class="z-50 fixed top-0 left-0 h-full w-full bg-white flex justify-center items-center">
    <div *ngIf="nameError" class="absolute top-20 text-red-500 animate-pulse">Please give me your unique name to
      remember you !
    </div>

    <div class="rounded-lg bg-white h-4/5 w-1/3 mb-24 p-5 flex flex-col justify-center items-center">
      <p class=" text-2xl">hey, whose there !</p>
      <br>
      <input autofocus [(ngModel)]="tempName" (keyup.enter)="setUserName(tempName)" type="text"
        placeholder="Please enter your name" class="h-8 w-1/2 rounded-full  focus:border-none border-none bg-gray-100">
      <br>
      <p>Choose currency</p>

      <p>{{currency}}</p>
      <div class="h-24 mt-2 w-36 border-2 border-dashed border-gray-100 py-3 overflow-auto rounded-md">
        <div *ngFor="let cur of currencyList" style="font-size: 14px;" (click)="setCurrCurrency(cur.symbol)"
          class="{{isCurrCurrency(cur.symbol) ? 'bg-gray-100':''}} hover:bg-gray-50 cursor-pointer px-3 w-full flex justify-between items-center">
          <p>{{cur.name}} </p>
          <p style="color: #25c9db;">{{cur.symbol}}</p>
        </div>
      </div>
      <br>
      <br>
      <div (click)="setUserName(tempName)" style="background-color: #25c9db;"
        class="h-10 w-10 rounded-full text-white cursor-pointer flex justify-center items-center">Go</div>
      <br>
    </div>
  </div>



  <!-- -------------------------------- BODY --------------------------------- -->
  <div class=" h-full grid grid-cols-2 gap-0.5 w-full">

    <!-- ----------------------------- LEFT COLUMN ----------------------------- -->
    <!-- WRAPPER -->
    <div class="flex flex-col h-full overflow-auto p-3 bg-white pb-24">
      <!-- SEARCH and ACTIONS -->
      <div class=" flex-grow-0 grid grid-cols-2  items-center">
        <div class="flex items-center gap-5 px-2">
          <input [(ngModel)]="query" (keyup.enter)="searching()" (ngModelChange)="onQueryChange()" type="text"
            placeholder="Search" class="h-8 w-full rounded-full  focus:border-none border-none bg-gray-100">
          <div *ngIf="!showButtonSearch" class="h-7 w-7 flex items-center justify-center rounded-full bg-gray-100">
            <img class="w-4" src="assets/svg/search.svg" alt="search">
          </div>
          <div *ngIf="showButtonSearch" class="h-7 w-7 flex items-center justify-center rounded-full bg-gray-100">
            <img class="w-4" src="assets/svg/x.svg" alt="search" (click)="clearQuery()" role="button">
          </div>
        </div>
      </div>
      <br>

      <!-- ADD NEW  BUTTON -->
      <div class="fixed bottom-10 left-10 flex justify-start items-center">
        <div routerLink="/new"
          class="cursor-pointer text-white text-sm rounded-full shadow-lg flex gap-2 justify-center items-center h-12 w-12"
          style="background-color: #25c9db;">
          <img src="assets/svg/plus.svg" class="w-6" alt="+">
        </div>
      </div>

      <h1 class="uppercase text-xs pl-3 mb-2 text-gray-400">Exchange history</h1>

      <!-- -------------------------------- LIST --------------------------------- -->
      <div class="flex-grow overflow-auto">
        <app-log-item *ngFor="let log of logs ; let i = index" [log]="log" routerLink="/details"
          [queryParams]="{index : i}"></app-log-item>
      </div>
    </div>

    <!-- ---------------------------- RIGHT COLUMN ----------------------------- -->
    <div class="h-full bg-white pb-20">
      <router-outlet></router-outlet>
      <!-- <app-details [log]="currLog"></app-details> -->
    </div>

  </div>
</div>